<div class="card">
  <img class="profilepicture" src="../noahdroddy.png">
  <h1>Blogger</h1>
  <p>Donec vehicula non mauris ac pulvinar. Ut in vulputate sapien, eget malesuada sapien. In eu imperdiet diam. Sed convallis, orci ut imperdiet.</p>
  <a class="btn" href="#">Link to Website</a>
 </div>