<div class="card">
 <img class="profilepicture" src="../madsspro.png">
 <h1>Influencer</h1>
 <p>Donec vehicula non mauris ac pulvinar. Ut in vulputate sapien, eget malesuada sapien. In eu imperdiet diam. Sed convallis, orci ut imperdiet.</p>
 <a class="btn" href="#">Link to Profile</a>
</div>
