<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
  <h3>Instagram Influencer Profiles</h3>

  <div class="main-content">    
    <div class="card">
      <i class="material-icons">fingerprint</i>
      <h1>Influencer</h1>
      <p>Donec vehicula non mauris ac pulvinar. Ut in vulputate sapien, eget malesuada sapien. In eu imperdiet diam. Sed convallis, orci ut imperdiet.</p>
      <a class="btn" href="#">Learn more</a>
    </div>

    <div class="card">
      <i class="material-icons">fingerprint</i>
      <h1>Influencer</h1>
      <p>Quisque facilisis non sapien nec venenatis. Aenean a maximus lectus. Etiam posuere quam magna, in viverra arcu aliquam dapibus.</p>
      <a class="btn" href="#">Learn more</a>
    </div>
          
    <div class="card"> 
      <i class="material-icons">fingerprint</i>
      <h1>Influencer</h1>
      <p>Pellentesque luctus leo eu mattis posuere. Morbi congue eros vel nibh aliquet lacinia. Phasellus nec gravida purus. Interdum et malesuada.</p>
      <a class="btn" href="#">Learn more</a>        
    </div> 
    
    <div class="card">
      <i class="material-icons">fingerprint</i>
      <h1>Influencer</h1>
      <p>Vivamus in massa enim. Donec vitae nibh elit. Integer vulputate tincidunt enim et vulputate. Aliquam a consectetur nisl. Praesent eu quam ex.</p>
      <a class="btn" href="#">Learn more</a>        
    </div>
    
    <div class="card">
      <i class="material-icons">fingerprint</i>
      <h1>Influencer</h1>
      <p>Duis dignissim tortor elementum, pharetra turpis tempus, tincidunt nisl. Ut semper sapien elit, ac ornare sapien semper non. Sed feugiat felis.</p>
      <a class="btn" href="#">Learn more</a>        
    </div>
    
    <div class="card"> 
      <i class="material-icons">fingerprint</i>
      <h1>Influencer</h1>
      <p> Quisque facilisis non sapien nec venenatis. Aenean a maximus lectus. Etiam posuere quam magna, in viverra arcu aliquam dapibus.</p>
      <a class="btn" href="#">Learn more</a>        
    </div>                
  </div>
</body>
</html>