<!DOCTYPE html>
<html lang = "en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body>
  <h3>Sample Brand Ambassadors</h3>

  <div class="main-content">
    <%- include('../views/ig-card.ejs')  %>
    <%- include('../views/blog-card.ejs') %>  
  </div>
</body>
</html>