* {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}
a {
  color: #278da4;
  text-decoration: none;
}
p {
  margin-bottom: 1.25em;
}
.card {
  padding: 1.5em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
}

.main-content {
  margin: 2em auto;
  width: 95%;
  max-width: 1000px;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
  grid-gap: 20px;
}